# Server Configuration
PORT=8080

# Database Configuration
DATABASE_URL=postgresql://db_user:db_password@localhost:5432/my_development_db?sslmode=disable
TEST_DATABASE_URL=postgresql://db_user:db_password@localhost:5432/my_testing_db?sslmode=disable
